rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() { return request.auth != null; }
    function getRole() { return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role; }
    function isAdmin() { return signedIn() && getRole() in ['Admin', 'CEO', 'Sales Manager', 'Accounts Manager']; }
    function isPartner() { return signedIn() && getRole() in ['Partner', 'Franchisee', 'Sales Agent', 'Dealer']; }
    function isHrManager() { return signedIn() && getRole() in ['Admin', 'CEO', 'HR Manager']; }


    match /users/{userId} {
      allow get: if signedIn();
      allow list: if isAdmin();
      allow write: if signedIn() && request.auth.uid == userId || isAdmin();
    }

    match /orders/{orderId} {
      allow get: if signedIn() && (isAdmin() || resource.data.userId == request.auth.uid || resource.data.assignedToUid == request.auth.uid);
      allow list: if signedIn() && (
        isAdmin() || 
        (request.query.where.userId == request.auth.uid) || 
        (request.query.where.assignedToUid == request.auth.uid)
      );
      allow create: if signedIn();
      allow update: if isAdmin() || (signedIn() && resource.data.userId == request.auth.uid);
    }

    match /salesInvoices/{invoiceId} {
      allow get: if signedIn() && (isAdmin() || resource.data.customerId == request.auth.uid || resource.data.assignedToUid == request.auth.uid);
      allow list: if signedIn() && (
        isAdmin() || 
        (request.query.where.customerId == request.auth.uid) || 
        (request.query.where.assignedToUid == request.auth.uid)
      );
      allow write: if isAdmin();
    }
    
    match /paymentSubmissions/{id} {
      allow read, list: if signedIn() && (isAdmin() || resource.data.userId == request.auth.uid || request.query.where.userId == request.auth.uid);
      allow create: if signedIn();
      allow update: if isAdmin();
    }

    match /{path=**} {
      allow read, write: if isAdmin();
    }
  }
}
